/* Import the font family */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

body {
    font-family: 'Artica', sans-serif; /* This changes the font for the entire body */
    margin: 0;
    padding: 0;
    background-color: 	#FFFAFF; /* Whitish grey-pink mix */
    color: #333;
}

/* Navigation Bar Styles */
.navbar {
    background-color: 	#FFFAFF; /* Matching the body's background */
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: adds a subtle shadow */
}

.nav-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    color: #333;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-buttons {
    display: flex;
    align-items: center;
}

.nav-link,
.nav-button {
    text-decoration: none;
    color: #6c7a89;
    margin-left: 20px;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-link:hover,
.nav-button:hover {
    background-color: #e1e1e1; /* Lighter background on hover */
}

.nav-button {
    background-color: #9b59b6; /* Purple background for 'Get Started' button */
    color: #fff;
    border: none;
}

.nav-button:hover {
    background-color: #8e44ad; /* Slightly darker purple on hover */
}

/* Main Header Styles */
.main-header {
    text-align: center;
    padding: 100px 20px;
    background: 	#FFFAFF; /* Consistent with the body background */
}

.main-header h1 {
    font-family: 'Artica', sans-serif; /* Replace 'FontOne' with the actual font you want */
    margin-bottom: 24px; /* Adjust the space between the h1 and the paragraph */
    font-size: 4vw;
    color: #333333;
    font-weight: 700;
    margin-bottom: 20px;
}

.main-header .tagline {
    font-family: 'Gerbera', sans-serif; /* Replace 'FontTwo' with the actual font you want */
    line-height: 1.6; /* This increases the space between lines of the paragraph */
    font-size: 1.3vw;
    color:  #737373;
    font-weight: 400;
    max-width: 80%;
    margin: 0 auto;
}
