body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e8eaf6;
    color: #333;
}

header {
    background-color: #2c3e50; /* Dark Blue */
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a.login {
    background-color: #4CAF50; /* Green */
    padding: 5px 10px;
    border-radius: 5px;
}

nav a:hover {
    text-decoration: underline;
}

#hero {
    background-color: #3f51b5; /* Light Blue */
    color: white;
    text-align: center;
    padding: 50px 20px;
}

#features {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333; /* Dark Blue */
    color: white;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
